{% extends "layout.html" %}

{% block title %}
    Delete category {{ category.name }}
{% endblock %}

{% block head %}
    {{ super() }}
    <link rel="stylesheet" type="text/css" media="screen" href="{{ url_for('static', filename='form.css') }}">
{% endblock %}

{% block content %}
<form action="{{ url_for('deleteCategory', category_id = category.id ) }}" method = 'post'>
    <h1>Delete item {{ item.name }}</h1>
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
    <input type='submit' value='Delete {{ category.name }}'>
    <a href="{{ url_for('category', category_id=category.id) }}">Cancel</a>
</form>
{% endblock %}