<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Catalog Project</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
    <a href = "{{ url_for('newCategory') }}">Create New Category</a>
    <ul>
        {% for c in categories %}

        <li>
            <a href="{{ url_for('category', category_id = c.id) }}">{{ c.name }}</a>
            <a href="{{ url_for('editCategory', category_id = c.id) }}">Edit</a>
            <a href="{{ url_for('deleteCategory', category_id = c.id) }}">Delete</a>
        </li>

        {% endfor %}
    </ul>
</body>
</html>