{% extends "layout.html" %}

{% block title %}
    Categories
{% endblock %}

{% block head %}
    {{ super() }}
    <link rel="stylesheet" type="text/css" media="screen" href="{{ url_for('static', filename='double_column.css') }}">
{% endblock %}

{% block admin_navbar %}
    {% if logged %}
    <nav class="admin-nav">
        <a href = "{{ url_for('newCategory') }}">Create New Category</a>
        <a href = "{{ url_for('newItem') }}">Create New Item</a>
    </nav>
    {% endif %}
    
{% endblock %}

{% block content %}
    {% include 'sidebar.html' %}
    <div class="page_content">
        <h2>Newest items</h2>
        {% for i in items %}

        <a href="{{ url_for('item', item_id = i.id) }}">
            <div class="item_container">
                <img src="{{ i.image }}" width="150px">
                <div class="text">{{ i.name }}</div>
            </div>
        </a>

        {% endfor %}
    </div>
{% endblock %}