{% extends "layout.html" %}

{% block title %}
    Categories
{% endblock %}

{% block head %}
    {{ super() }}
    <link rel="stylesheet" type="text/css" media="screen" href="{{ url_for('static', filename='index.css') }}">
{% endblock %}

{% block admin_navbar %}
    {% if session['sub'] %}
    <nav class="admin-nav">
        <!--<a href = "{{ url_for('newCategory') }}">Create New Category</a>-->
        <a href = "{{ url_for('newItem') }}">Create New Item</a>
    </nav>
    {% endif %}
    
{% endblock %}

{% block content %}
    <div class="categories">
        <h2>Categories</h2>
        <ul>
            {% for c in categories %}
            <li><a href="{{ url_for('category', category_id = c.id) }}">{{ c.name }}</a></li>
            {% endfor %}
        </ul>
    </div>

    <div class="items">
        <h2>Newest items</h2>
        {% for i in items %}

        <a href="{{ url_for('item', item_id = i.id) }}">
            <div>
                <img src="{{ i.image }}" width="150px">
                {{ i.name }}
            </div>
        </a>

        {% endfor %}
    </div>
{% endblock %}