{% extends "layout.html" %}

{% block title %}
    {{ item.name }}
{% endblock %}

{% block admin_navbar %}
    {% if item.sub == session['sub'] %}
    <nav class="admin-nav">
        <a href="{{ url_for('editItem', item_id=item.id) }}">Edit</a>
        <a class="delete" href="{{ url_for('deleteItem', item_id=item.id) }}">Delete</a>
    </nav>
    {% endif %}
{% endblock %}

{% block content %}
    <h1>{{ item.name }}</h1>
    <p>{{ item.description }}</p>
    <p>{{ item.price }}</p>
    <p>{{ item.category.name }}</p>
{% endblock %}