@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import url('https://fonts.googleapis.com/css?family=Noto+Serif+SC');

$margin: 200px;
$black: #353535;
$blue: #2E467C;
$green: #3EC142;

.container {
    display: grid;
    grid-template-areas: 
        "message message"
        "categories items";

    grid-template-columns: max-content auto;
}

.categories {
    grid-area: categories;
    margin-right: $margin/2;

    ul {
        list-style: none;
        padding: 0;
        margin: 0;
    }

    a {
        display: inline-block;
        color: $black;
        padding: 5px 5px;
        width: 100%;
    }
    a:hover {
        background-color: rgba($black, 0.1)
    }
}