@import url("https://fonts.googleapis.com/css?family=Montserrat");
@import url("https://fonts.googleapis.com/css?family=Noto+Serif+SC");
html, body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  color: #353535;
}

button {
  font-family: 'Montserrat', sans-serif;
}

a {
  text-decoration: none;
}

.main-menu {
  width: 100%;
  background-color: #232F3E;
  border-bottom: 2px solid #3EC142;
  display: -ms-grid;
  display: grid;
      grid-template-areas: "title button";
  -ms-grid-rows: 60px auto;
      grid-template-rows: 60px auto;
  color: #353535;
}

.main-menu #title {
  display: inline-block;
  font-size: 2em;
  color: white;
  font-weight: bold;
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: title;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin-left: 200px;
}

.main-menu .user {
  color: white;
  display: inline-block;
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: button;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -ms-grid-column-align: right;
      justify-self: right;
  margin-right: 200px;
}

.main-menu #login {
  background-color: transparent;
  color: white;
  border: solid 1px;
  border-color: white;
  padding: 5px 10px;
  border-radius: 4px;
  -webkit-transition: background-color 0.2s;
  /* Safari */
  transition: background-color 0.2s;
}

.main-menu #login:hover {
  background-color: #3EC142;
}

.main-menu #logout {
  color: white;
  text-decoration: underline;
  font-size: 85%;
}

.admin-nav {
  width: 100%;
  background-color: #353535;
  padding: 0 200px 0 200px;
  border-bottom: 2px solid #353535;
  position: fixed;
}

.admin-nav a {
  display: inline-block;
  background-color: white;
  color: #353535;
  border: 0;
  padding: 5px 15px;
  border-radius: 4px;
  margin: 10px 5px;
}

.messages {
  background-color: rgba(224, 53, 59, 0.1);
  padding: 0 200px;
  text-align: center;
}

.messages ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.messages li {
  display: inline-block;
  color: #E0353B;
  padding: 5px 5px;
  width: 100%;
}

.categories {
  grid-area: categories;
  margin-right: 50px;
  padding-right: 50px;
  border-right: 1px solid rgba(53, 53, 53, 0.2);
}

.categories ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.categories a {
  display: inline-block;
  color: #353535;
  padding: 5px 5px;
  width: 100%;
}

.categories a:hover {
  background-color: rgba(53, 53, 53, 0.1);
}

.container {
  margin: 50px 200px;
}

.page_content {
  grid-area: content;
}

.page_content a {
  display: inline-block;
  margin: 2px 0;
}

.page_content a .item_container {
  color: #353535;
  text-align: center;
  padding: 20px;
  border: 1px solid rgba(53, 53, 53, 0.1);
  height: 200px;
}

.page_content a .item_container img {
  display: block;
  height: 90%;
  -o-object-fit: contain;
     object-fit: contain;
  margin: auto;
}

.page_content a .item_container .text {
  margin-top: 8px;
}

.page_content a:hover .item_container {
  border: 1px solid rgba(53, 53, 53, 0.2);
}
/*# sourceMappingURL=styles.css.map */