@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import url('https://fonts.googleapis.com/css?family=Noto+Serif+SC');

$margin: 200px;
$black: #353535;
$blue: #2E467C;
$green: #3EC142;
$red: #E0353B;

html, body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    color: $black;
}
button {
    font-family: 'Montserrat', sans-serif;
}

a {
    text-decoration: none;
}

.main-menu {
    width: 100%;

    background-color: white;
    border-bottom: 2px solid $black;

    display: grid;
    grid-template-areas: 
        "title button";
    grid-template-rows: 60px auto;

    color: $black;

    #title {
        display: inline-block;
        font-size: 2em;
        color: $black;
        font-weight: bold;
        grid-area: title;
        align-self: center;
        margin-left: $margin;
    }

    .user {
        display: inline-block;
        grid-area: button;
        align-self: center;
        justify-self: right;
        margin-right: $margin;
    }

    #login {
        background-color: $blue;
        color: white;
        border: 0;
        padding: 15px;
        border-radius: 4px;
    }

    #logout {
        color: $black;
        text-decoration: underline;
        font-size: 85%;
    }
}

.admin-nav {
    width: 100%;
    background-color: $black;
    padding: 0 $margin 0 $margin;
    border-bottom: 2px solid $black;

    a {
        display: inline-block;
        background-color: white;
        color: $black;
        border: 0;
        padding: 5px 15px;
        border-radius: 4px;
        margin: 10px 5px;
    }
}

.messages{
    background-color: rgba($red, 0.1);
    padding: 0 $margin;
    text-align: center;

    ul {
        list-style: none;
        padding: 0;
        margin: 0;
    }

    li {
        display: inline-block;
        color: $red;
        padding: 5px 5px;
        width: 100%;
    }
}

.container {
    margin: $margin/8 $margin 0 $margin;
}

.items {
    grid-area: items;

    a {
        display: inline-block;
        margin: 2px 0;
        div {
            color: $black;
            text-align: center;
            padding: 20px;
            border: 1px solid rgba($black, 0.1);

            img {
                display: block;
                width: 150px;
                max-height: 150px;
            }
        }
    }

    a:hover {
        div {
            border: 1px solid rgba($black, 0.2);
        }
    }
}